<html lang='en'>
    {{!-- header --}}
  {{>head}}
    <body>
      {{!-- navbaar --}}
      {{>navbar}}
        {{!-- body --}}
        <div class="container">
        {{{body}}}
        </div>

         {{!-- footer --}}
        {{>footer}}
    </body>
</html>